@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Teko:300,regular,500,600,700);

@import url(https://fonts.googleapis.com/css?family=Goldman:regular,700);

@import url(https://fonts.googleapis.com/css?family=Prosto+One:regular);

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p,
a {
  font-size: 20px;
}

a,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a,
a:visited,
button {
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
li {
  list-style-type: none;
}

.locked {
  overflow-y: hidden;
}

section {
  padding-bottom: 2%;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: oklch(95.88% 0.027 87.88);
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

.header__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10%;
  padding: 1% 0;
}

.logo-full {
  display: block;
  width: max(7%, 65px);
}

.logo-small {
  display: none;
  width: max(10%, 50px);
}

.burger__menu {
  display: none;
}

.burger__active .burger__inner {
  background-color: transparent;
}

.burger__active .burger__inner::before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger__active .burger__inner::after {
  top: 50%;
  transform: rotate(45deg);
}

.burger__icon {
  cursor: pointer;
  width: 30px;
  position: relative;
}

.burger__inner {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  font-size: 0;
  position: relative;
  z-index: 25;
  transition: all 0.1s linear;
}

.burger__inner::before,
.burger__inner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: transform 0.1s linear;
}

.burger__inner::before {
  top: -8px;
}

.burger__inner::after {
  bottom: -8px;
}

.burger__nav {
  display: block;
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 30;
  padding: 80px 0;
  background: #000;
  opacity: 0.9;
  transition: all 0.3s linear;
  transform: translateX(-200%);
}

.burger__visible {
  transform: translateX(0);
  transition: all 0.3s linear;
}

.burger__nav-item {
  display: block;
  font-size: clamp(12px, 3vw, 20px);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 4em;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  font-family: "Prosto one";
  font-size: clamp(10px, 1.5vw, 18px);
  letter-spacing: 0.2em;
  transition: all 0.2s linear;
}

.header__nav-item:hover {
  color: oklch(65.29% 0.111 72);
  transform: scale(1.05);
}

.intro {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: oklch(93.24% 0.032 61.41);
  opacity: 0.9;
  z-index: 15;
}

.intro .intro__content {
  position: relative;
  z-index: 20;
  text-align: center;
  padding-top: 20dvh;
}

.intro .intro__content .intro__title {
  font-family: "Teko";
  font-size: clamp(45px, 9vw, 75px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.intro .intro__content .intro__subtitle {
  margin-top: max(-5dvh, -20px);
  font-family: "Goldman";
  font-size: clamp(12px, 2.5vw, 20px);
  letter-spacing: 0.3em;
}

.intro .intro__content .intro__tagline {
  font-family: "Prosto one";
  text-transform: uppercase;
  font-size: clamp(9px, 2vw, 14px);
  word-spacing: 2em;
  letter-spacing: 0.2em;
  padding: 5em 0;
}

.intro .intro__content .intro__text {
  display: flex;
  flex-direction: column;
  width: clamp(330px, 40vw, 650px);
  margin-top: -8%;
  padding: 2%;
  background-color: oklch(97.65% 0.012 113.29);
  box-shadow: 5px 5px 12px oklch(87.94% 0.005 61.41);
  position: relative;
  left: 5vw;
  top: 25vmin;
  text-align: left;
}

.intro .intro__content .intro__text .intro-paragraph {
  font-family: "Roboto";
  font-size: clamp(12px, 2vw, 20px);
  padding: 5px;
}

.intro .intro__content .intro__text .intro-paragraph:last-of-type {
  padding-bottom: 50px;
}

.intro .main__video {
  background-color: #e68c2b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-end;
  text-wrap: balance;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  padding: 1%;
  margin-bottom: 4dvh;
  background-color: oklch(84.12% 0.118 66.71);
  border: oklch(84.12% 0.118 66.71) 2px solid;
  border-radius: 20px;
  transition: all 0.1s linear;
}

.button:hover {
  background-color: oklch(97.65% 0.012 113.29);
  transform: scale(1.05);
}

.button:hover p {
  color: oklch(84.12% 0.118 66.71);
}

.button p {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: "Roboto";
  color: #fff;
  margin: 0 15px;
}

.button__arrow {
  width: clamp(15px, 5vw, 25px);
  height: 100%;
  fill: oklch(64.12% 0.234 22.24);
}

.section__title {
  text-align: center;
  font-family: "Prosto one";
  font-size: clamp(20px, 3vw, 42px);
  margin: 2em;
}

.services__title {
  margin-top: 8em;
}

.section__content {
  container-type: inline-size;
}

.services-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  margin-bottom: 10%;
  background-color: oklch(97.65% 0.012 113.29);
  box-shadow: 5px 5px 12px oklch(87.94% 0.005 61.41);
}

.services-item__image {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2%;
}

.services-item__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}

.services-item__title {
  font-size: 30px;
}

.services-item__text {
  font-size: 18px;
  text-wrap: balance;
  margin-bottom: 1em;
}

.item-more {
  display: none;
}

.item-more-1__active {
  display: block;
}

.open-button-more-1__hidden {
  display: none;
}

.item-more-2__active {
  display: block;
}

.open-button-more-2__hidden {
  display: none;
}

.item-more-3__active {
  display: block;
}

.open-button-more-3__hidden {
  display: none;
}

.no-webp .about__inner{
  background-image: url(/img/worlod-map.png); }

.about__inner {
  background-repeat: no-repeat;
  background-position: 0 12dvh;
  background-size: contain;
  width: max(60%, 350px);
}

.section__text {
  font-size: clamp(16px, 2vw, 20px);
  padding-bottom: 2em;
  text-wrap: pretty;
}

@media (width <= 769px) {
  .container {
    width: 90%;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
  }

  .logo-full {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .burger__menu {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .intro .intro__content .intro__text {
    left: 0;
  }

  .button {
    align-self: center;
  }
}

.webp .about__inner{ background-image: url(/img/worlod-map.webp); }